* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:108px;
    height:43px;
    font-family: Montserrat;
    font-weight:800;
    font-size:35px;
}
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.main-nav {
    display: flex;
    justify-content: space-evenly;
}
.first-page-ul {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: nowrap;
    margin: 10px;
    column-gap: 40px;
}
.first-page-li {
    font-family: montserrat;
    font-weight: 600;
    font-size:16px;
}
.main-layout {
    background-color:#EFF0F2;
    padding: 40px;
    height:100vh;
}
.become-member {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:20px;
}
.host {
    background-color: rgba(72, 72, 72, 1);
    border-radius: 23px;
    color:white;
    font-family: montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    width:186px;
    height:46px;
    
}
.user-button {
    background-color: white;
    border-radius: 23px;
    width: 25%;
    height:46px;
    width:98px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:5px;
    
}
.user {
    border-radius: 50%;
    width: 36px;
    height:36px;
    text-align: center;
}
.general {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    margin-bottom:17px;
    margin-right:617px;

}
.second-logo {
    font-family: Montserrat;
    font-size: 40px;
    font-weight:700;
    color:rgba(72, 72, 72, 1);
}
.search-space {
    border-radius: 35px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 290px;
    margin-right: 290px;
    width:50%;
    height:70px;
}
.location, .check-in, .check-out, .guests {
    display: flex;
    flex-direction: column;
    font-family: montserrat;
    font-weight: 600;
    row-gap:10px;
}
.search-section {
    display: flex;
    flex-direction: column;
    margin-top:500px;
    justify-content: flex-end;

}
.title {
    font-size: 12px;
    color: rgba(72, 72, 72, 1);
}
.question {
    font-size:14px;
    color: rgba(194, 198, 204, 1);
}
.search-button {
    background-color:rgba(72, 72, 72, 1);
    border-radius:50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-page {
    display: flex;
    flex-direction: column;
    padding-left:80px;
    padding-right: 80px;
}
.card {
    width: 20%;
    background-color: #E0E2E6;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    margin-top: 285px;
    padding-left:21px;
    
}
.circle {
    background-color: #C2C6CC;
    border-radius: 50%;
    width:70px;
    height:70px;
    margin-bottom:4px;
}
.title1 {
    margin-top:88px;
    margin-left:35px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom:-180px;
    color:rgba(72, 72, 72, 1);
    height:200px;
}
.card-section {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 30px;

}
.type {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom:12px;
}
.address {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(154, 154, 154, 1);
    margin-bottom: 13px;
}
.title1::after {
    content:"";
    display: block;
    width: 20%;
    height:6px;
    background-color:rgba(72, 72, 72, 1);
    border: 1px;
    border-radius:3px;
    margin-top: 70px;
}
.third-page {
    display: flex;
    flex-direction: column;
    padding-left:80px;
    padding-right: 80px;
}
.stars {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 116px;
}
.fourth-page {
    display: flex;
    flex-direction: column;
    padding-left:80px;
    padding-right: 80px;   
}
.hosting-with-us {
    background-color: rgba(239, 240, 242, 1);
    border-radius:12px;
    padding-left:55px;
    padding-top:70px;
    margin-left: 112px;
    margin-right:112px;
    margin-top:110px;
    height:395px;
}
.title2 {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom:7px;
}
.text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 52px;
    margin-bottom: 34px;
    color: rgba(154, 154, 154, 1);

}
.become-a-host-button {
   background-color: #484848;
   border-radius:30px;
   width:20%;
   height:60px;
   display:flex;
   justify-content: center;
   align-items: center;
   color:white;
   font-family: Montserrat;
   font-size: 15px;
   font-weight: 700;
   line-height: 18px;
}
.page-5 {
    display: flex;
    flex-direction: column;
    margin-left:80px;
    margin-right:30px;   
    margin-top:109px;
    /* flex-wrap: wrap; */
    /* column-gap: 34px; */
}
.card2 {
    display: flex;
    flex-direction: column;
    background-color:  #E0E2E6;
    border-radius: 12px;
    width:382px;
    height:340px;
    margin-top:285px;
    justify-content: space-evenly;
    margin-left:-300px;
}
.card-section2 {
    display:flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    column-gap:55px;
}
.one-card {
    display: flex;
    flex-direction: column;
}
.type-address {
    margin-left: -300px;
}
.prices {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color:rgba(154, 154, 154, 1);
    margin-top: 120px;
    margin-bottom:-100px;
    margin-left:20px;   
}
.card-section3 {
    display:flex;
    flex-direction: row;
    margin-left: 140px;
    margin-right: 70px;
    justify-content: space-evenly;
    margin-top:-140px;
    column-gap:100px;
}
.text2 {
    background-color: rgba(239, 240, 242, 1);
    border-radius:12px;
    padding-left:55px;
    padding-top:70px;
    margin-left: 79px;
    margin-right:79px;
    margin-top:110px;
    height:395px;
    width: 80%;
}
.banner2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:-100px;
    margin-right: 79px;;
}
.main-banner {
    font-family: Montserrat;
    font-size: 100px;
    font-weight: 800;
    line-height: 122px;
    display: flex;
    justify-content: flex-end;
    color: rgba(232, 234, 236, 1);
    margin-top: -150px;
    margin-left:760px;
    width:25%;
}
.button {
    background-color: rgba(72, 72, 72, 1);
    border-radius: 23px;
    color:white;
    font-family: montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-left: 670px;
    margin-top:100px;
    height: 50px;
    width:10%;
}
.ad {
    background-color: #F5F5F5;
    border-radius: 23px;
    color:rgba(72, 72, 72, 1); 
    padding: 50px;
    margin-top: 100px;
    margin-left:80px;
    margin-right:80px;
}
.first-part {
    display: flex;
    flex-direction: column;
}
.shop {
    display: flex;
    flex-direction: row;
    background-color: #E0E2E6;
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    width: 10%;
    height: 53px;
    text-align: center;
    padding: 20px;
    gap:10px;
}
.playstore {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appstorebutton1 {
    display: flex;
    flex-direction: row;
    margin-left:26px;
    width:10%;
    border-radius: 6px;
    gap:10px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.mobile {
    margin-left: 920px;
    margin-top:-190px;
}
.text1 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(154, 154, 154, 1);
}
.page-6 {
    margin-top:95px;
    height:600px;
    padding-left:80px;
}
.options {
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    gap:25px;
    padding:35px;
}
.text3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(154, 154, 154, 1);
    margin-top:240px;
    margin-left: 35px;
    margin-bottom:25px;
}
.become-a-host-button1 {
    background-color: #484848;
    border-radius:30px;
    width:20%;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 30px;
}
.second-part {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:-500px;
    margin-right:300px;
}
.grey-div {
    background-color: rgba(232, 234, 236, 1);
    width: 25%;
    height:437px;
    border-radius:10px;
}
.last-page {
    margin-top:105px;

}
.last-page-header {
    background-color:#E8EAEC;
    padding-left:185px;
    padding-top:40px;
    padding-right:180px;
    padding-bottom:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texts {
    display: flex;
    flex-direction: column;
}
.subtitle {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom:8px;
}
.stayup {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.search-email {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 23px;
    padding-left:15px;
    margin-right:130px;
}
.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(154, 154, 154, 1);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width:700px;
}
.letter {
    height:52px;
    width:52px;
    border-radius: 50%;
    background-color: #9A9A9A;
    background-image: url("../assets/Vector1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.main-part {
    background-color: rgba(239, 240, 242, 1);
    padding-left:80px;
    padding-top:72px;
    display: flex;
    flex-direction: row;
    padding-bottom: 200px;
}
.text20 {
    margin-top:30px;
    margin-bottom:20px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(154, 154, 154, 1);
    margin-right:60px;
}
.nav-space {
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    margin-left:90px;
    
}
/* .footer {
    border: 1px solid rgba(224, 226, 230, 1);
    display: flex;
    flex-direction: row;
} */
.nav1-ul {
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color:rgba(72, 72, 72, 1);
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top:20px;
}
.soc-media {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top:13px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(224, 226, 230, 1);
    background-color:rgba(239, 240, 242, 1);
    padding-top:40px;
    padding-left:80px;
    padding-right:80px;
    padding-bottom:75px;
}
.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.heart {
    width:30px;
    height:30px;
    margin-left:230px;
    margin-bottom:130px;
}
.heart1 {
    width:30px;
    height:30px;
    margin-right:40px;
    margin-top:20px:
}
.heart3 {
    width:30px;
    height:30px;
    margin-right:15px;
}
.heart4 {
    width:30px;
    height:30px;
    margin-left:290px;
}
.pages-icon {
    margin-left: 20px;
    margin-bottom:20px;
}
.first-page-ul1 {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: nowrap;
    margin: 10px;
    column-gap: 40px;
}




@media screen and (min-width: 320px) and (max-width: 480px) {
.first-page-ul {
    display:none;
}
.main-layout {
    width:100vw;
}
.general {
display:flex;
flex-direction: column;
margin-left:110px;
margin-top:-240px;
}
.first-page-ul1{
    display:flex;
    flex-direction: column;
}
.search-space {
    margin-left:150px;
    display:flex;
    flex-direction:column;
    margin-top:-100px;
    gap:10px;
}
.check-in, .check-out {
    margin-left:-10px;
}
.location {
    margin-left:30px;
}
.search-button {
    display:none;
}
.second-page {
    width:100vw;
}
.card-section {
    display: flex;
    flex-direction: column;
    width:1200px;
    gap:20px;
}
.heart {
    margin-left:150px;
    margin-top:20px;
}
.hosting-with-us {
    display:flex;
    flex-direction:column;
    width:100vw;
    margin-left:0px;
}
.page-5 {
    display:flex;
    flex-direction: column;
}
.card-section2 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:220px;
    
}
.card-section3 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:300px;
}

.banner2 {
    display:flex;
    flex-direction:column;
    width:100vw;
    justify-content: center;
    align-items:center;
    margin-left:0px;
}
.become-a-host-button {
    width:90px;
    height:70px;
    text-align:center;
    margin-top:10px;
}
.button {
    width:120px;
    height:80px;
    text-align: center;
    margin-left:120px;
}
.ad {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:100vw;
    margin-left:0px;
}
.mobile {
   display:none;
}
.page6 {
    margin-top:-21px;
    display:flex;
    justify-content:center;
    padding-left:-2px;

}
.first-part {
    margin-bottom:-37px;
    margin-left:-40px;
}
.text3 {
    margin-top:255px;
    margin-left:-11px;
}
#discover-more {
    margin-top:-40px;
    margin-left:0px;
}
.options {
    margin-bottom:10px;
}
.grey-div {
    display:none;
}
.second-part {
    display:none;
}
.texts {
    margin-left:-125px;
}
.search-bar {
    width:60%;
}
.last-page-header {
    display:flex;
    gap:20px;
}
.banner {
    display:none;
}
.main-part {
    display:flex;
    flex-direction:column;
}
.general-info {
margin-left:-40px;
margin-top:-25px;
}
.nav-space {
    margin-left:-38px;
    margin-top:100px;
    display:flex;
    flex-wrap: wrap;
    gap:35px;
}
.footer {
    display:flex;
    flex-direction:column;
    gap:45px;
}
}



@media screen and (min-width: 481px) and (max-width: 768px) {
.become-member {
    margin-right:80px;
}
.first-page-ul {
    display:none;
}
.main-layout {
    width:100vw;
}
.general {
display:flex;
flex-direction: column;
margin-left:110px;
margin-top:-240px;
}
.first-page-ul1{
    display:flex;
    flex-direction: column;
}
.search-space {
    margin-left:150px;
    display:flex;
    flex-direction:column;
    margin-top:-100px;
    margin-bottom:100px;
    background-color:rgba(239, 240, 242, 1);
    gap:10px;
}
.check-in, .check-out, .guests {
    margin-left:-60px;
}
.location {
    margin-left:30px;
}
.search-button {
    margin-left:-50px;
}
.second-page {
    width:100vw;
    margin-left:-25px;
}
.card-section {
    display: flex;
    flex-direction: column;
    width:1200px;
    gap:20px;
    margin-left:25px;
}
.heart {
    margin-left:150px;
    margin-top:20px;
}
.third-page {
    margin-left:-34px;
}
.hosting-with-us {
    display:flex;
    flex-direction:column;
    width:80%;
    padding-left:35px;
    margin-left:0px;
}
.page-5 {
    display:flex;
    flex-direction: column;
    margin-left:80px;
}
#featured-properties {
    margin-left:0px;
}
#property-rental {
    margin-left:-25px;
}
.card-section2 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:220px;
    
}
.card-section3 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:300px;
}

.banner2 {
    display:flex;
    flex-direction:column;
    width:100vw;
    justify-content: center;
    align-items:center;
    margin-left:-46px;
}
.become-a-host-button {
    width:90px;
    height:70px;
    text-align:center;
    margin-top:10px;
}
.button {
    width:120px;
    height:80px;
    text-align: center;
    margin-left:120px;
}
.ad {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:100vw;
    margin-left:0px;
    padding-right:10px;
}
.mobile {
    display:none;
}
.page6 {
    margin-top:-21px;
    display:flex;
    justify-content:center;
    padding-left:-2px;

}
.first-part {
    margin-bottom:-37px;
    margin-left:-40px;
}
.text3 {
    margin-top:255px;
    margin-left:-17px;
    width:80%;
}
#discover-more {
    margin-top:-40px;
    margin-left:-15px;
    font-size:32px;
}
.become-a-host-button1 {
    text-align:center;
    margin-left:127px;
}
.options {
    margin-bottom:10px;
}
.grey-div {
    display:none;
}
.second-part {
    display:none;
}
.text20 {
    width:80%;
}
.texts {
    margin-left:-125px;
}
}
.search-bar {
    width:60%;
}
.last-page-header {
    display:flex;
    gap:20px;
}
.banner {
    display:none;
}
.main-part {
    display:flex;
    flex-direction:column;
}
.general-info {
margin-left:-40px;
margin-top:-25px;
}
.nav-space {
    margin-left:-38px;
    margin-top:100px;
    display:flex;
    flex-wrap: wrap;
    gap:35px;
}
.footer {
    display:flex;
    flex-direction:column;
    gap:45px;
    margin-left:-40px;
}
.fourth-page {
    margin-left:-28px;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {

}

    